* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#shop {
    position: relative;
    padding: 20px;
    margin: 0;
}

.ShopRow{
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}

.ShopCol {
    width: 50%;
    padding: 10px;
}

.ShopCol--100{
    width: 100%;
}

.ShopCaption{
    padding: 10px;
    background-color: #04AA6D;
    color: white;
    text-align: center;
}

.ShopAction{
    padding: 10px;
    background-color: #213547;
    text-align: center;
}

.ShopAction button{
    min-width: 80px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
