#shop {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.ShopRow{
    display: flex;
    margin: -15px;
}

.ShopCol {
    width: 50%;
    padding: 15px;
}

.ShopTable {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #04AA6D;
    padding: 5px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
}

.ShopTableCaption{
    background-color: #04AA6D;
    color: white;
}

.ShopTableHead{
    min-height: 40px;
    background-color: #213547;
    color: white;
}

.ShopTableHead th{
    padding: 10px;
}

.ShopTableAction{
    background-color: #213547;
    text-align: center;
}

.ShopTableAction td {
    padding: 10px;
}

.ShopTableAction button{
    padding: 5px 10px;
    cursor: pointer;
}