.ShopItem {
    text-align: center;
    cursor: pointer;
}

.ShopItem td,
.ShopItem th {
    vertical-align: middle;
    padding: 10px;
}

.ShopItem th {
    vertical-align: middle;
    padding: 10px;
}

.ShopItem:nth-child(even){
    background-color: #f2f2f2;
}

.ShopItem button{
    display: inline;
    margin: 5px;
    cursor: pointer;
    min-width: 50px;
}