.ShopItem {
    text-align: center;
}

.ShopItem td,
.ShopItem th {
    vertical-align: middle;
    padding: 10px;
}

.ShopItem th {
    vertical-align: middle;
    padding: 10px;
}

.ShopItem:nth-child(even){
    background-color: #f2f2f2;
}