.Notice{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(180deg, rgba(2, 13, 24, .2) 0%, rgba(2, 13, 24, .65) 100%);
    transition: .3s cubic-bezier(.215,.61,.355,1) opacity, visibility, transform;
    z-index: 10000;
    pointer-events: none;
    animation: fadeIn 0.3s ease;
}

.NoticeMessage{
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 30px;
    text-align: center;
    color: var(--cl-light);
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    animation: fadeInBottom 0.6s ease;

    &-error{
        background-color: var(--cl-red);
    }

    &-success{
        background-color: var(--cl-green);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translate3d(0, 50%, 0)
    }

    100% {
        opacity: 1;
        transform: translateZ(0)
    }
}