.Search {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: flex-start;
    border: 4px solid #020d18;
    border-radius: 3px;
    margin-left: auto;

    label{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 46px;
        height: 100%;
        top: 0;
        right: 0;
    }

    input {
        width: 100%;
        height: 46px;
        padding: 0 60px 0 15px;
        border: 0;
        background-color: #233a50;
        color: var(--cl-light);
        font-weight: 500;

        &::-webkit-input-placeholder {
            color: var(--cl-secondary);
        }
    }
}
