.MobileCompany {
    width: fit-content;
    margin: 0 auto;
}

.MobileCompany table {
    margin: 10px 0;
}

.MobileCompany table th,
.MobileCompany table td{
    position: relative;
    border: 1px solid;
    padding: 5px;
}

.MobileCompany table input{
    border: 0;
    outline: 0;
}

.MobileCompany table input:focus{
    border: 1px solid;
}

.MobileCompany table input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}

.MobileCompany table input[type=checkbox]:focus {
    position: relative;
    width: auto;
    opacity: 1;
}